{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login_form' %}">Login here</a></p><br><br>
    <p>Back to home <a href="{% url 'dashboard' %}">Dashboard</a></p>
</body>
</html>